*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:linear-gradient(135deg,#ffd6e8,#fff);
    min-height:100vh;
}


.app{
    display:flex;
    height:100vh;
}


/* Sol menü */

.menu{

    width:80px;

    background:rgba(255,255,255,0.5);

    backdrop-filter:blur(15px);

    display:flex;

    flex-direction:column;

    align-items:center;

    padding-top:20px;

    gap:20px;

    border-right:1px solid #eee;

}


.menu h1{

    font-size:35px;

}


.menu button{

    width:50px;
    height:50px;

    border:none;

    border-radius:15px;

    background:#ff7eae;

    color:white;

    font-size:22px;

    cursor:pointer;

    transition:.3s;

}


.menu button:hover{

    transform:scale(1.1);

}


/* İçerik */

.icerik{

    flex:1;

    padding:30px;

}


section{

    background:white;

    border-radius:25px;

    padding:30px;

    box-shadow:0 10px 30px rgba(0,0,0,.1);

}


h2{

    color:#ff4d88;

    margin-bottom:15px;

}


p{

    color:#555;

    line-height:25px;

}


/* Gizleme */

.gizli{

    display:none;

}
