*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}


body{
    width:100%;
    height:100vh;
    background:#ffd6e8;
}


.app{
    display:flex;
    width:100%;
    height:100vh;
}


/* SOL MENÜ */

.menu{

    width:90px;
    height:100vh;

    background:white;

    display:flex;
    flex-direction:column;
    align-items:center;

    padding-top:20px;
    gap:25px;

}


.logo{

    font-size:40px;

}


.menu button{

    width:55px;
    height:55px;

    border:none;
    border-radius:15px;

    background:#ff5c98;

    color:white;

    font-size:25px;

}


/* İÇERİK */

.icerik{

    flex:1;

    padding:30px;

}


.sayfa{

    background:white;

    border-radius:25px;

    padding:30px;

}


.sayfa h1{

    color:#ff4d88;

}


.gizli{

    display:none;

}
