*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{

    background:linear-gradient(135deg,#ff9ac9,#ffd7e8);

    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

}

.welcome{

    width:90%;
    max-width:400px;

    background:white;

    border-radius:25px;

    padding:30px;

    text-align:center;

    box-shadow:0 10px 30px rgba(0,0,0,.2);

}

h1{

    font-size:40px;
    color:#ff4d88;

}

p{

    margin-top:20px;
    color:#555;
    line-height:28px;

}

button{

    margin-top:35px;

    width:100%;

    padding:15px;

    border:none;

    border-radius:15px;

    background:#ff4d88;

    color:white;

    font-size:18px;

}
